<form class="jumbotron login" role="form">

  <div class='form-group'>
    <img class='img-responsive center-block' src="../img/logo300x109.png"/>
  </div>

  <div class="form-group input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input type="text" class="form-control" value="" placeholder="Adresse électronique" ng-model='user.email' ng-keypress="myFunct($event)">
  </div>

  <div class="form-group input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
    <input type="password" class="form-control" placeholder="Mot de passe" ng-model='user.password' ng-keypress="myFunct($event)">
  </div>

  <div class="form-group">
    <a href="#" class="btn btn-success login-btn" ng-if='isSignIn' ng-click='signIn()'>Connexion</a>
    <a href="#" class="btn btn-success login-btn" ng-if='!isSignIn' ng-click='signUp()'>S'enregistrer</a>
  </div>

  <div class="form-group login-footer text-center">
    <a ng-click='resetPassword()'>Mot de passe oublié</a> ou
    <a ng-if='isSignIn' ng-click='setIsSignIn(false)'>s'enregistrer</a>
    <a ng-if='!isSignIn' ng-click='setIsSignIn(true)'>se connecter</a>
  </div>

</form>
