<form class="jumbotron options" role="form">

  <div class="form-group input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input type="text" class="form-control" value="" placeholder="Identifiant" ng-model='currentUser.email' readonly>
  </div>

  <div class="form-group input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
    <input type="password" class="form-control" placeholder="Nouveau mot de passe" ng-model='password1' ng-keypress="myFunct($event)">
  </div>

  <div class="form-group input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
    <input type="password" class="form-control" placeholder="Retaper le mot de passe" ng-model='password2' ng-keypress="myFunct($event)">
  </div>

  <div class="form-group">
    <a href="#" class="btn btn-success login-btn" ng-click='setNewPassword()'>Modifier le mot de passe</a>
  </div>

</form>
