<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xs-offset-0 col-sm-offset-0 col-md-offset-2 col-lg-offset-2">
      <H3>Informations sur le patient</H3>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><td>{{patient.firstName}}</td> <td>{{patient.lastName}}</td></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-lg-3" align="center"> <img alt="User Pic" src="\img\male-picture.png" class="img-circle img-responsive"></div>
            <div class="col-md-9 col-lg-9">
              <table class="table">
                <tbody>
                  <tr>
                    <td>RFID:</td>
                    <td><input type="text" ng-model="patient.rfid" /></td>
                  </tr>
                  <tr>
                    <td>État:</td>
                    <td>{{patient.condition}}</td>
                  </tr>
                  <tr>
                    <td>Localisation:</td>
                    <td><input type="text" ng-model="patient.localisation" /></td>
                  </tr>
                  <tr>
                    <td>ID:</td>
                    <td>{{patient.id}}</td>
                  </tr>
                  <tr>
                    <td>Date de naissance (Âge: {{patient.age}}):</td>
                    <td><input type="text" ng-model="patient.birthDate" /></td>
                  </tr>
                  <tr>
                    <td>Adresse:</td>
                    <td><input type="text" ng-model="patient.address" /></td>
                  </tr>
                  <tr>
                    <td>Numéro de téléphone:</td>
                    <td><input type="text" ng-model="patient.phoneNumber" /></td>
                  </tr>
                  <tr>
                    <td>Raison de l'hospitalisation:</td>
                    <td><input type="text" ng-model="patient.reasonHospitalization" /></td>
                  </tr>
                  <tr>
                    <td>Allergie:</td>
                    <td><input type="text" ng-model="patient.allergy" /></td>
                  </tr>
                  <tr>
                    <td>Médicamentation:</td>
                    <td><input type="text" ng-model="patient.medication" /></td>
                  </tr>
                  <tr>
                    <td>Alimentation:</td>
                    <td><input type="text" ng-model="patient.food" /></td>
                  </tr>
                  <tr>
                    <td>Autonomie:</td>
                    <td><input type="text" ng-model="patient.autonomy" /></td>
                  </tr>
                  <tr>
                    <td>Autre:</td>
                    <td><input type="text" ng-model="patient.other" /></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <span class="pull-right">
            <a href="" data-original-title="Modifier cet utilisateur" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning" ng-click="savePatient()">Sauvegarder <i class="glyphicon glyphicon-save"></i></a>
            <a data-original-title="Supprimer cet utilisateur" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger">Archiver <i class="glyphicon glyphicon-remove"></i></a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
