<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xs-offset-0 col-sm-offset-0 col-md-offset-2 col-lg-offset-2" >
      <H3>Informations sur le patient</H3>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="\img\male-picture.png" class="img-circle img-responsive"> </div>
            <div class=" col-md-9 col-lg-9 ">
              <table class="table">
                <tbody>
                  <tr>
                    <td>Prénom:</td>
                    <td><input type="text" class="form-control" value="" placeholder="Prénom" ng-model='patient.name' required></td>
                  </tr>
                  <tr>
                    <td>Nom:</td>
                    <td><input type="text" class="form-control" value="" placeholder="Nom" ng-model='patient.lastName' required></td>
                  </tr>
                  <tr>
                    <td>ID:</td>
                    <td><input type="number" class="form-control" value="" placeholder="Identifiant" ng-model='patient.id' required></td>
                  </tr>
                  <tr>
                    <td>Date de naissance (Âge: {{patient.age}}):</td>
                    <td><input type="date" class="form-control" value="" placeholder="Date de naissance" ng-model='patient.birthDate' required></td>
                  </tr>
                  <tr>
                    <td>Adresse:</td>
                    <td><input type="text" class="form-control" value="" placeholder="Adresse" ng-model='patient.address' required></td>
                  </tr>
                  <tr>
                    <td>Numéro de téléphone:</td>
                    <td><input type="tel" class="form-control" value="" placeholder="Numéro de téléphone" ng-model='patient.phoneNumber' required></td>
                  </tr>
                  <tr>
                    <td>Raison de l'hospitalisation:</td>
                    <td><input type="text" class="form-control" value="" placeholder="Raison de l'hospitalisation" ng-model='patient.reasonHospitalization' required></td>
                  </tr>
                  <tr>
                    <td>Allergie(s):</td>
                    <td><textarea class="form-control" rows="4" cols="50" placeholder="Allergie(s)" ng-model='patient.allergy' required></textarea></td>
                  </tr>
                  <tr>
                    <td>Médicamentation(s):</td>
                    <td><textarea class="form-control" rows="4" cols="50" placeholder="Médicamentation(s)" ng-model='patient.medication'></textarea></td>
                  </tr>
                  <tr>
                    <td>Alimentation:</td>
                    <td><textarea class="form-control" rows="4" cols="50" placeholder="Alimentation" ng-model='patient.food' required></textarea></td>
                  </tr>
                  <tr>
                    <td>Autonomie:</td>
                    <td>
                      <select class="form-control" ng-model='patient.autonomy' required>
                        <option selected disabled value="">Choisir l'option</option>
                        <option value="1">Autonome</option>
                        <option value="2">Semi-Automone</option>
                        <option value="3">Non Autonome</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>Autre:</td>
                    <td><textarea class="form-control" rows="4" cols="50" placeholder="Autre" ng-model='patient.other'></textarea></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <span class="pull-right">
              <a href="" data-original-title="Sauvegarder" data-toggle="tooltip" type="button" class="btn btn-sm btn-success">Sauvegarder <i class="glyphicon glyphicon-edit"></i></a>
              <a href="" data-original-title="Annuler" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger">Annuler <i class="glyphicon glyphicon-remove"></i></a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
