<h1 class="page-header">{{title}}</h1>

<div class='form-group'>
  <button type='button' class='btn btn-success' ng-click='addUser()'>
    <i class="fa fa-plus-circle" aria-hidden="true"></i> Ajouter un utilisateur
  </button>
</div>

<table width='100%' datatable="ng" dt-options="dtOptions" dt-instance="dtInstance" dt-column-defs="dtColumnDefs" class="row-border hover">
  <thead>
    <tr>
      <th ng-show="false">ID</th>
      <th>Photo</th>
      <th>Courriel</th>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Type</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in users | orderBy:'type'">
      <td ng-show="false">{{ user.$id }}</td>
      <td>
        <img class="img-responsive user-img" src="{{user.picture}}" />
      </td>
      <td>{{ user.email }}</td>
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.type }}</td>
      <td>
        <button class="btn btn-danger" ng-click="deleteUser(user.$id)">
          <i class="fa fa-trash-o"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
